package services

import (
{{ if .Commands}}    "{{ .Import.Module }}/internal/{{ .Import.Service }}/application/command" {{- end }}
{{ if .Queries}}    "{{ .Import.Module }}/internal/{{ .Import.Service }}/application/query" {{- end }}
{{ if .Logger}}    "{{ .Logger.Package }}" {{- end }}
    "{{ .Import.Module }}/internal/{{ .Import.Service }}/application/interface"
)

var _ interfaces.{{ .Name }}Service = &{{ .Name }}Service{}

type {{ .Name }}Service struct{
{{ if .Logger }}    log {{ .Logger.Struct }} {{- end }}
}

func New{{ .Name }}Service(
{{ if .Logger }}    log {{ .Logger.Struct }}, {{- end }}
) *{{ .Name }}Service {
    return &{{ .Name }}Service{
        {{ if .Logger }} log: log, {{- end }}
    }
}

{{- range .Queries }}

func (s *{{ $.Name }}Service) {{ .Name }}(q query.{{ .Name }}Query) (r query.{{ .Name }}QueryResult, err error) {
    _ = q
    panic("unimplemented")
}

{{- end }}

{{- range .Commands }}

func (s *{{ $.Name }}Service) {{ .Name }}(c command.{{ .Name }}Command) (r command.{{ .Name }}CommandResult, err error) {
    _ = c
    panic("unimplemented")
}

{{- end }}
