package entity

{{ if not .Fields -}}

type {{ .Name }} struct{}

{{- else -}}


{{ if .HasValues -}}

import (
    "{{ .Import.Module }}/internal/{{ .Import.Service }}/domain/value"
)

{{- end }}

type {{ .Name }} struct {
    {{- range .Fields }}
    {{ .Name }} {{ .Type }}
    {{- end }}
}

{{- end }}
